<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Sielekthor</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Update Member</h2>
                <br>
                <form th:action="@{/member/ubah}" th:object="${member}" method="POST">
 
                    <input type="hidden" th:field="*{id}" />
 
                    Nama : <br>
                    <input class="form-control" type="text" name="namaMember" th:value="*{namaMember}"/>
                    <br>
 
                    Tanggal Lahir: <br>
                    <input class="form-control" type="date" name="tanggalLahir" th:field="*{tanggalLahir}"/>
                    <br>
 
                    Tanggal Pendaftaran : <br>
                    <input class="form-control" type="date" name="tanggalPendaftaran" th:field="*{tanggalPendaftaran}"/>
                    <br>
 
                    Jenis Kelamin : <br>
                    <input th:checked="${member.jenisKelamin == 0}" type="radio" name="jenisKelamin" th:value="@{0}" disabled>
                    <label for="age1">Perempuan</label><br>
                    <input th:checked="${member.jenisKelamin == 1}" type="radio" name="jenisKelamin" value="@{1}" disabled>
                    <label for="age2">Laki-laki</label><br>  

                    <input th:if="${member.jenisKelamin == 0}" type="hidden" th:field="*{jenisKelamin}" />
                    <input th:if="${member.jenisKelamin == 1}" type="hidden" th:field="*{jenisKelamin}" />

                    <input type="hidden" th:field="*{listPembelian}" />

                    <button class="btn btn-primary" type="submit">Submit</button>
                    <a class="btn btn-primary" href="/member">Kembali</a>
                </form>
            </div>
        </div>
    </div>
</div>
 
</body>
</html>