<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Sielekthor</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 th:text="'Profil member dengan nama ' + ${upd_mbr.getNamaMember} + ' berhasil diubah.'"></h2>
                <br>

                <h5 th:if="${upd_mbr.listPembelian.size() != 0}">Nomor invoice terkait member tersebut berubah menjadi:</h5>
                <ul th:each="i, i_status : ${upd_mbr.listPembelian}">
                    <li><h5 th:text="${i.noInvoice}"></h5></li>
                </ul>
                <br>
                <a class="btn btn-warning font-weight-bold text-dark" th:href="@{/member}">Kembali</a>
            </div>
        </div>
    </div>
</div>
 
</body>
</html>